FE_URL="http://localhost:3000"
DO_SPACES_ENDPOINT="nyc3.digitaloceanspaces.com"
DO_SPACES_KEY="your_do_spaces_key_here"
DO_SPACES_SECRET="your_do_spaces_secret_here"
DO_SPACES_BUCKET="wisdomlinked-store"

# Database Connection (Use Local for Development)
# MONGO_URI="mongodb://127.0.0.1:27017/WisdomLinked_Local"
MONGO_URI="mongodb://username:password@localhost:27017/WisdomLinked_Local"

JWT_SECRET="your_local_development_jwt_secret"

# Stripe Keys
STRIPE_SECRET_KEY_TEST="sk_test_your_test_key_here"
STRIPE_SECRET_KEY_LIVE="sk_live_your_live_key_here"
STRIPE_WEBHOOK_SECRET="whsec_your_webhook_secret_here"

COOKIE_EXPIRED_TIME=86400000
MAX_REQUEST_BODY_SIZE="1mb"

# SendGrid API
SENDGRID_API_KEY="SG.your_sendgrid_api_key_here"

NODE_ENV="development"
TIMEZONE_API_KEY="your_timezone_api_key_here"

# Google Credentials
GOOGLE_EMAIL="your_google_email@gmail.com"
GOOGLE_PASSWORD="your_google_app_password"

# Zoho Credentials
ZOHONOREPLY_USER="support@wisdomlinked.com"
ZOHONOREPLY_PASS="your_zoho_noreply_password"

ZOHOADMIN_USER="admin@wisdomlinked.com"
ZOHOADMIN_PASS="your_zoho_admin_password"
